* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "Inter", sans-serif;
}

.navbar {
    max-width: 870px;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #bf7506;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

.header {
    padding: 70px 0 45px 0;
    display: flex;
    align-items: center;

}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-top: 12px;
    margin-bottom: 5px;
}

.header-primary {
    color: #BF7506;
}

.header-photo {
    padding-bottom: 40px;
}

.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;

}

.tags {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.header-links {
    display: flex;
    align-items: center;
}

.cv-download {
    padding: 7px 8px;
    margin-left: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    border-bottom: 2px solid #bf7506;
}

.cv-icon {
    margin-right: 4px;
}

.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 90%;
    letter-spacing: -0.003em;
    color: #bf7506;
    margin-bottom: 25px;
}

.card {
    max-width: 400px;
    margin-bottom: 40px;
}

.card-image {
    max-width: 100%;
}

.card-text-wrapper {
    padding: 16px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #bf7506;
    margin-top: 0;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
}

.tag {
    padding: 4px 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-decoration: none;
    color: #211b12;
    background: #fff;
    border: 1px solid #dd9c3c;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.card-buttons {
    display: flex;
    align-items: center;
}

.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    border-bottom: 2px solid #bf7506;
    margin-right: 25px;  
}

.card-button-icon {
    margin-right: 4px;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 70px;
}

.developer {
    padding: 20px 0 20px;
    display: flex;
    align-items: center;
}

.developer-photo {
    width: 360px;
    height: 440px;
    margin-bottom: 20px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
}

.developer-about {
    margin-left: 55px;
}

.developer-hello {
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #211b12;
}

.developer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #bf7506;
    margin-top: 4px;
    margin-bottom: 16px;
}

.developer-text {
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
}

.motto {
    font-size: 24px;
    line-height: 150%;
    color: #dd9c3c;
    margin: 16px 0;
}

.developer-sign {
    max-width: 200px;
}

.skills {
   padding: 20px 0; 
}

.skills-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 135%;
   color: #211b12; 
}

.feedback {
    position: relative;
    padding: 50px 0 40px;
}

.feedback-hand {
    position: absolute;
    right: 0;
    top: 20%;
    width: 25%;
}

.form-container {
    max-width: 435px;
    margin: auto;
}

.input-group {
    position: relative;
    padding-top: 9px;
    margin-bottom: 24px;
}
 
.input-label {
    position: absolute;
    top: 0;
    left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #83807c;
    padding: 0 8px;
    background: #fff;
}

.input {
    border: 3px solid #e0dedc;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    padding: 15px;
}

.textarea {
   min-height: 140px; 
}

.submit-button { 
    padding: 7px 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    border: none;
    border-bottom: 2px solid #bf7506;
    background-color: #fff;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

p.footer {
    text-align: center;
}


@media (max-width: 1024px) {
    .container {
        max-width: 760px;
    }

    .cards {
        gap: 0;
    }

    .card {
        max-width: 350px;
    }
}

@media (max-width: 790px) {
    .container {
        max-width: 576px;
    }

    .header-photo {
        max-width: 150px;
    }

    .header-strong {
        font-size: 36px;
    }

    .header-heading {
        font-size: 18px;
    }

    .cv-download {
        margin-left: 15px;
    }

    .card {
        max-width: 45%;
    }

    .card-text-wrapper {
        padding: 8px 0;
    }

    .developer {
        flex-direction: column;
    }

    .developer-photo {
        width: 100%;
        height: 350px;
        margin-bottom: 30px;
        object-fit: contain;
    }

    .developer-about {
        margin-left: 0;
        padding-left: 20px;
    }

    .feedback-hand {
        display: none;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }

    .header {
        padding-top: 30px;
        text-align: center;
    }

    .header,
    .header-links,
    .cards,
    .navbar {
        flex-direction: column;
    }
    
    .cv-download {
        margin-left: 0;
    }

    .card {
        max-width: 100%;
    }

    .tags {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0;
    }
    
    .header-photo {
        padding-bottom: 30px;
    }

    .header-text {
        margin-left: 0;
    }
    
    .form-container {
        width: 90%;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-link {
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    .header-strong,
    .developer-title {
        font-size: 25px;
    }

    .social-list {
        margin: 0;
    }

    .cv-download {
        padding: 0;
    }

    .section-heading {
        font-size: 30px;
    }

    .feedback {
        padding: 0 0 40px;
    }

    .developer {
        padding: 0;
    }

    .developer-photo {
        margin-bottom: 10px;
    }

    .developer-title {
        font-weight: 500;
        font-size: 20px;
    }

    .skills {
        padding: 0;
    }

    .card {
        margin-bottom: 0;
    }

    .developer-about {
        padding-left: 0;
    }

    .developer-sign {
        margin: 0 40px;
    }
}